﻿@model ParagonRCC_MVC3.Models.Server

@{
    ViewBag.Title = Model.Name + " (" + Model.Host + ":" + Model.Port + ") Details";
}

<div id="serverForm">

<div class="robotTitle">
    <b>@Model.Name ( @Model.Host:@Model.Port)  - Dash Board </b>
</div>
<script type="text/javascript">
    function SaveLicense(id, serverId) {
        var url = '@Url.Action("SaveLicense", "Robot")';
        var licenseKey = $("#licenseKey" + id).val();
        var data = {};
            $.ajax({
                type: "Get",
                url: url,
                data: { serverId: serverId, id: id, licenseKey: licenseKey },
                cache: false,
                dataType: 'html',
                success: function (result) {
                    alert("Saved");
                }
            });
    }
//    $(document).ready(function () {
//        $('#licenseKey').focus();
//    });


</script>

<div class="robotList">
<br/>

<table>
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Actions
            <span class="ui-icon ui-icon-plusthick" title="Create">@Url.Action("Create", "Robot", 
            new {serverId = ViewData["serverId"]})</span>
        </th>
        <th style="width: 20%;"></th>
        <th style="width: 10%;"></th>
    </tr>
    
@foreach (var r in Model.Robots)
{
    var licenseId = "licenseKey" + r.Id;
    <tr>
        <td class="nodeLink" href="@Url.Action("Details", "Robot", new { id = @r.Id, serverId = @Model.Id })">@r.Name</td>
        <td class="nodeLink" href="@Url.Action("Details", "Robot", new { id = @r.Id, serverId = @Model.Id })">@r.Status</td>
        <td>
            <span class="ui-icon ui-icon-pencil nodeLink" title="Edit">@Url.Action("Details", "Robot",
                new { id = @r.Id, serverId = @Model.Id })</span>
            <span class="ui-icon ui-icon-trash" title="Delete">@Url.Action("Delete", "Robot",
                new { id = @r.Id, serverId = @Model.Id })</span>
            <span class="ui-icon ui-icon-copy" title="Copy" >@Url.Action("Copy", "Robot",
                new { id = @r.Id, serverId = @Model.Id })</span>
        </td>
        
        <td><input type="text" id="@licenseId" /></td>
        <td><input type="button" id="saveLicense" onclick="SaveLicense(@r.Id, @Model.Id);" value="Save License" /></td>
    </tr>
}
</table>
<br />
<br />
@*<div style="padding-left:2%"><textarea id="licenseKey" cols="1" rows="1" style="width:25%"></textarea>
<br /><br /><input type="button" id="saveLicense" value="Save License" /><br />
</div>*@

</div>
@Html.Hidden("serverId", Model.Id)