﻿
@model IEnumerable<IGrouping<string, ParagonRCC_MVC3.Models.Setting>>

@{
    ViewBag.Title = "Index";
}

<div class="settingForm">
<ul>
    @foreach (var item in Model)
    {
        @*
        var href = string.Format("#S{0}-R{1}-G{2}", ViewData["serverId"], ViewData["robotId"], item.Key);
        <li><a href="@href"><span>@item.Key</span></a></li>
        *@
        <li><a href='@Url.Action("Group", new { serverId =  ViewData["serverId"], robotId = ViewData["robotId"], group = item.Key})'>@item.Key</a></li>
    }
    <li><a href="#Save"><span class="ui-icon ui-icon-disk" title="Save">@Url.Action("Settings", "Robot", new { id = ViewData["robotId"], serverId = ViewData["serverId"] })</span></a></li>

</ul>
@*
    @foreach (var item in Model)
    {
        ViewData["GroupName"] = item.Key;
        @Html.Partial("Group", item)
    }
*@
</div>
<script type="text/javascript">
    $(function () {
        $(".settingForm:visible").tabs({
            select: function (event, ui) {
                if ($(ui.tab).attr('href') == '#Save') {
                    var href = $(ui.tab).find("span .ui-icon-disk").text();
                    saveSettings(href, $(".settingForm:visible div"));
                    return false;
                }
            },
            cache: false,
            ajaxOptions: { cache: false }
        });
        $(".settingForm:visible .sortable").sortable({
            revert: true,
            scroll: true,
            opacity: 0.7,
            axis: 'y',
            containment: 'parent',
            cursor: 'move'
        });
    });
</script>
