﻿@model IEnumerable<Paragon.RobotServices.Model.Condition>

@{
    ViewBag.Title = "Conditions";
}

<div class="conditions">
<div class="conditionsHeader">
<span>Conditions</span>
</div>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Conditional</th>
            <th>Value</th>
            <th>Connector</th>
            <th><span class="ui-icon ui-icon-plusthick" title="Create"></span></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        @Html.Partial("~/Views/Shared/Condition.cshtml", item)
    }   
    </tbody>
</table>
<script type="text/javascript">
    $(function () {
        $(".conditions tbody").sortable({
            /* update: sortTable, */
            revert: true,
            scroll: true,
            opacity: 0.7,
            axis: 'y',
            containment: 'parent',
            cursor: 'move'
        });
    });
</script>
</div>