﻿@using ParagonRCC_MVC3
@model Paragon.RobotServices.Model.Robot

@*
<fieldset>
    <legend>Robot</legend>
    @Html.TextBoxFor(r => r.Name)
    @Html.TextBoxFor(r => r.Status)
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
*@

<div class="robotForm">

<table width="100%" border="0">
<tr>
<td width="20%">
    @* Html.ActionImage("~/Content/images/icon/clock.png", "Schedule", new { id = @Model.Id, serverID = "" }, null, null, new { alt = "Toggle Schedule Mode" }, null) *@
    @* Html.ActionImage("Schedule", new { id = @Model.Id }, "~/Content/images/icon/clock.png", "Toggle Scheduled Mode") *@
    @* Html.ActionImage("~/Content/images/icon/button_play_green.png", "Start", new { id = @Model.Id, serverID = "" }, null, null, new { alt = "Start Robot" }, null) *@
    @* Html.ActionImage("Start", new { id = @Model.Id }, "~/Content/images/icon/button_play_green.png", "Start Robot") *@
    @* Html.ActionImage("~/Content/images/icon/button_grey_stop.png", "Start", new { id = @Model.Id, serverID = "" }, null, null, new { alt = "Stop Robot" }, null) *@
    @* Html.ActionImage("c", new { id = @Model.Id }, "~/Content/images/icon/button_grey_stop.png", "Stop Robot") *@

    @if (Model.IsScheduled == false)
    {
        <a class="nodeLink" href='@Url.Action("ScheduledToggle", new { id = Model.Id, serverId = ViewData["serverId"], isSchedule = true })' title="Schedule - @Model.Name">
            <img class="moduleIcon" alt="Toggle Scheduled Mode" src="@Url.Content("~/Content/images/icon/clock.png")" />
        </a>
    }
    else
    {
        <a class="nodeLink" href='@Url.Action("ScheduledToggle", new { id = Model.Id, serverId = ViewData["serverId"], isSchedule = false })' title="Schedule - @Model.Name">
            <img class="moduleIconActive" alt="Toggle Scheduled Mode" src="@Url.Content("~/Content/images/icon/clock.png")" />
        </a>
    } 
    @if (Model.IsScheduled == false)
    {
        <a class="nodeLink" href='@Url.Action("Start", new { id = Model.Id, serverId = ViewData["serverId"] })' title="Start - @Model.Name">
            <img class="moduleIcon" alt="Start" src="@Url.Content("~/Content/images/icon/button_grey_play.png")" />
        </a>
    }
    <a class="nodeLink" href='@Url.Action("Stop", new { id = Model.Id, serverId = ViewData["serverId"] })' title="Stop - @Model.Name">
        <img class="moduleIcon" alt="Stop" src="@Url.Content("~/Content/images/icon/button_grey_stop.png")" />
    </a>

    @* 
        <a class="nodeLink" href="/Robot/ScheduledToggle/@Model.Id?serverId=@ViewData["serverId"]" title="Toggle Scheduled Mode - @Model.Name">
        <img class="moduleIcon" alt="Toggle Scheduled Mode" src="@Url.Content("~/Content/images/icon/clock.png")" />
    </a>
<a class="nodeLink" href="/Robot/Start/@Model.Id?serverId=@ViewData["serverId"]" title="Start - @Model.Name ">
        <img class="moduleIcon" alt="Start" src="@Url.Content("~/Content/images/icon/button_grey_play.png")" />
    </a> 
    <a class="nodeLink" href="/Robot/Stop/@Model.Id?serverId=@ViewData["serverId"]" title="Stop - @Model.Name ">
        <img class="moduleIcon" alt="Stop" src="@Url.Content("~/Content/images/icon/button_grey_stop.png")" />
    </a>*@
</td>
<td width="80%" align="center">
<div class="robotTitle"><p>@Model.Name</p></div>
</td>
</tr>
</table>
<div class="robotTabs">
    <ul>
        @* <li><a href="#tabs-1">Logging</a> *@
        @*<li>@Html.ActionLink("Logging", "Logging", new { id = @Model.Id, serverId = ViewData["serverId"], critical = "critical", error = "error", warning = "warning", normal = "normal", debug = "debug" })</li> 
        <li>@Html.ActionLink("Scheduling", "Schedules", new { id = @Model.Id, serverId = ViewData["serverId"] })</li>
        <li>@Html.ActionLink("Notification", "Notification", new { id = @Model.Id, serverId = ViewData["serverId"] })</li>
        <li>@Html.ActionLink("Image Normalization", "Normalization", new { id = @Model.Id, serverId = ViewData["serverId"] })</li>
        <li>@Html.ActionLink("Test Login", "TestLogin", new { id = @Model.Id, serverId = ViewData["serverId"] })</li>
        <li>@Html.ActionLink("Settings", "Settings", new { id = @Model.Id, serverId = ViewData["serverId"] })</li>
        <li>@Html.ActionLink("Mappings", "Mappings", new { id = @Model.Id, serverId = ViewData["serverId"] })</li>
        <li>@Html.ActionLink("Lookups", "Index", "Lookup", new { robotId = @Model.Id, serverId = ViewData["serverId"] }, null)</li>*@
        <li title="Logging: Displays the latest robot logs sorted by categories">@Html.ActionSpan("Logging", "Robot", new { id = @Model.Id, serverId = ViewData["serverId"], critical = "critical", error = "error", warning = "warning", normal = "normal", debug = "debug" }, "Log", null, null)
        </li>       
        <li title="Scheduling: Displays different scheduling options available in the robot">@Html.ActionSpan("Scheduling", "Robot", new { id = @Model.Id, serverId = ViewData["serverId"] }, "Schedule", null, null)
        </li>        
        <li title="Notification: Displays Event/Notifications that can be set in the robot">@Html.ActionSpan("Notification", "Robot", new { id = @Model.Id, serverId = ViewData["serverId"] }, "Notify", null, null)
        </li>
        <li title="Audit: Displays auditing configuration for the robot">@Html.ActionSpan("Audit", "Robot", new { id = @Model.Id, serverId = ViewData["serverId"] }, "Audit", null, null)
        </li>       
        <li title="Input: Displays input configuration options">@Html.ActionSpan("Input", "Robot", new { id = @Model.Id, serverId = ViewData["serverId"] }, "Input", null, null)
        </li>
        @if (Model.Liscence != null && Model.Liscence.CanNormalize && (!Model.Liscence.IsLiscenceExpired))
        {
            if (Model.Liscence.ExpirationDate >= DateTime.Now)
            {
                <li title="Normalization: Displays Image enhancements options available"> @Html.ActionSpan("Normalization", "Robot", new { id = @Model.Id, serverId = ViewData["serverId"] }, "Normalize Image", null, null)
                </li>
            }
        }
        
        @if (Model.Liscence != null && Model.Liscence.CanLookup && (!Model.Liscence.IsLiscenceExpired))
        {
            if (Model.Liscence.ExpirationDate >= DateTime.Now)
            {
                <li title="Lookups: Displays settings used to perform database lookups">@Html.ActionSpan("Lookup", "Robot", new { id = @Model.Id, serverId = ViewData["serverId"] }, "Data Lookup", null, null)
                </li>
            }
        }
        
        @if (Model.Liscence != null && Model.Liscence.CanMap && (!Model.Liscence.IsLiscenceExpired))
        {
            if (Model.Liscence.ExpirationDate >= DateTime.Now)
            {
                <li title="Data Mappings: Displays conditional settings that are translated by Robot's Transformation engine for data manupulation">@Html.ActionSpan("Mappings", "Robot", new { id = @Model.Id, serverId = ViewData["serverId"] }, "Data Mapping", null, null)
                </li>
            }
        }
        <li title="Output: Displays output configuration options">@Html.ActionSpan("Output", "Robot", new { id = @Model.Id, serverId = ViewData["serverId"] }, "Output", null, null)
        </li>
        <li title="Save: Saves robot options"><a href="#saveRobot"><span class="ui-icon ui-icon-disk">@Url.Action("Save", new { id = @Model.Id, serverId = ViewData["serverId"] })</span></a>
        </li>
        <div style="width:25%; float:right">
        <a class="displayChart" href="@Url.Action("DisplayChart", new { id = Model.Id, serverId = ViewData["serverId"], robotName = @Model.Name })" >Show Chart</a>
        <br />
        <a style="float:right;" href="@Url.Action("ExportImport", new { id = Model.Id, serverId = ViewData["serverId"], inputModuleId = @Model.InputModuleId, outputModuleId = @Model.OutputModuleId })" >Export/Import Settings</a>
        </div>
    </ul>
</div>
<div class="robotStatus">
    <p>@Model.Name Status:  @Model.Status.ToString()</p>
    <p>Items processed successfully: @Model.SuccessCount</p>
    <p style="text-align:right;color:Red">@if(Model.Liscence != null){ <b>@Model.Liscence.Message</b> } </p>
</div>
</div>
<script type="text/javascript">
    $(function () {
        
        makeRobotTabs();
    });

//    $(document).ready(function () {
//        alert(document.getElementById("displayMessage").value);
//    });
//    $(document).ready(function () {
//        var url = '@Url.Action("SaveLicense", "Robot")';
//        var data = {};
//        $.ajax({
//            type: "Get",
//            url: url,
//            data: { serverId: serverId, id: id, licenseKey: licenseKey },
//            cache: false,
//            dataType: 'html',
//            success: function (result) {
//                alert("Saved");
//            }
//        });
//    });
</script>