﻿<script type="text/javascript">
    var robotId;
    var serverId;
    var startDate;
    var endDate;
    var val;
    $(document).ready(function () {

        $(".datetimepickerStartDate").datetimepicker();
        $(".datetimepickerEndDate").datetimepicker();

        robotId = $("#robotId").val();
        serverId = $("#serverId").val();
        $('input:radio[name=chartViewType]').click(function () {

            val = $('input:radio[name=chartViewType]:checked').val();
            startDate = $("#datetimepickerStart").val();
            endDate = $("#datetimepickerEnd").val();

            if ($("#rdBar")[0].checked == true) {
                document.getElementById("barChart").style.display = "inline";
                document.getElementById("pieChart").style.display = "none";
            }
            else {
                document.getElementById("barChart").style.display = "none";
                document.getElementById("pieChart").style.display = "inline";
            }
            refreshChart("Column", "", "#imgBarChart", startDate, endDate, val, "/Robot/CreateChart");
            refreshChart("Pie", "Failure", "#imgPieFChart", startDate, endDate, val, "/Robot/CreateChart");
            refreshChart("Pie", "Success", "#imgPieSChart", startDate, endDate, val, "/Robot/CreateChart");
        });

        $(".ui-datepicker-trigger").click(function () {
            clearAllRadios();
        });

        $('#exportToExcel').click(function () {
            window.onbeforeunload = function () { };
            $("#exportToExcel").attr("href", '@Url.Action("Export", "Robot")' + "?robotid=" + robotId + "&serverid=" + serverId + "&startDate=" + startDate + "&endDate=" + endDate + "&viewType=" + val);

        });
    });

    function clearAllRadios() {
        var radList = document.getElementsByName('chartViewType');
        for (var i = 0; i < radList.length; i++) {
            if (radList[i].checked) radList[i].checked = false;
        }
    }

    function refreshChart(chartType, result, id, startDate, endDate, viewType, url) {
        $(id).attr("src", url + "?chartImage=" + chartType + "&result=" + result + "&robotid=" + robotId + "&serverid=" + serverId + "&startDate=" + startDate + "&endDate=" + endDate + "&viewType=" + viewType);     
        }

    function ShowChart(chartType) {
        if (chartType.value == "Pie") {
            document.getElementById("pieChart").style.display = "inline";
            document.getElementById("barChart").style.display = "none";
        }
        else {
            document.getElementById("barChart").style.display = "inline";
            document.getElementById("pieChart").style.display = "none";
        }
    }
</script>
<h2>@ViewData["robotName"].ToString() Statistics</h2>
<div>
    <div style="height:10%;display:inline;">
        <label><input id="rdBar" type=radio checked=checked name ="chartGroup" onchange="ShowChart(this);" value="Bar" />Bar</label>
        <label><input id="rdPie" type=radio name ="chartGroup" onchange="ShowChart(this);" value="Pie" />Pie</label>
    </div>
    
    <div style="height:10%;display:inline;float:right;margin-right:55%">
        <div style="float:right;">
            <a id="back"  href="@Url.Action("Details", new { id = ViewData["robotId"], serverId = ViewData["robotServerId"] })">Back |</a>
            <a id="exportToExcel"  href="#">Export Chart</a>
        </div><br />
        <input id="datetimepickerStart" class="datetimepickerStartDate" size="15"  name="start" type="text" />
        <input id="datetimepickerEnd" class="datetimepickerEndDate" size="15" name="end" type="text" />
        <br />
        <div style="float:right;">
            <label><input type=radio checked=checked name ="chartViewType" id="refreshHistory" value="Day" />Day</label>
            <label><input type=radio name ="chartViewType" value="Month" />Month</label>
            <label><input type=radio name ="chartViewType" value="Year" />Year</label>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div id="pieChart" style="display:none;">
        <div id="pieChartSuccess" style="display:inline;">
            <img id="imgPieSChart" alt="PieChart" src="@Url.Action("CreateChart", new { chartImage = "Pie", result = "Success", robotid = ViewData["robotId"], serverid = ViewData["robotServerId"] })" />
        </div><br />
        <div id="pieChartFailure" style="display:inline;">
            <img  id="imgPieFChart" alt="PieChart" src="@Url.Action("CreateChart", new { chartImage = "Pie", result = "Failure", robotid = ViewData["robotId"], serverid = ViewData["robotServerId"] })" />
        </div>
    </div>
    <div id="barChart" style="display: inline">
        <img id="imgBarChart" alt="BarChart" src="@Url.Action("CreateChart", new { chartImage = "Column", robotid = ViewData["robotId"], serverid = ViewData["robotServerId"] })" />
    </div>
</div>
@Html.Hidden("robotId", ViewData["robotId"])
@Html.Hidden("serverId", ViewData["robotServerId"])
