﻿@{
    ViewBag.Title = "ExportImport";
}
@model Paragon.RobotServices.Model.Robot
<script type="text/javascript">
    function Export() {

        robotId = $("#robotId").val();
        serverId = $("#serverId").val();
        inputModuleId = $("#inputModuleId").val();
        outputModuleId = $("#outputModuleId").val();

        var tabNameCollection = new Array();

        $('.chkTab:checked').each(function () {
            tabNameCollection.push($(this).attr('value'));
        });

        var postData = {
            serverId: serverId, id: robotId, inputModuleId: inputModuleId, outputModuleId: outputModuleId, tabNameCollection: tabNameCollection
        };
        
        if (tabNameCollection != "") {
            var url = '@Url.Action("ExportSetting", "Robot")';
            $.ajax({
                type: "Post",
                url: url,
                data: postData,
                cache: false,
                dataType: 'json',
                traditional: true,
                success: function (result) {
                    alert("Robot Settings Exported");
                }
            });
        }
        else {
            alert("Select settings to export");
        }
    }

    function Import() {

        robotId = $("#robotId").val();
        serverId = $("#serverId").val();
        inputModuleId = $("#inputModuleId").val();
        outputModuleId = $("#outputModuleId").val();

        var tabNameCollection = new Array();

        $('.chkTab:checked').each(function () {
            tabNameCollection.push($(this).attr('value'));
        });

        var postData = {
            serverId: serverId, id: robotId, inputModuleId: inputModuleId, outputModuleId: outputModuleId, tabNameCollection: tabNameCollection
        };

        if (tabNameCollection != "") {
            var url = '@Url.Action("ImportSetting", "Robot")';
            $.ajax({
                type: "Post",
                url: url,
                data: postData,
                cache: false,
                dataType: 'json',
                traditional: true,
                success: function (result) {
                    alert("Robot Settings Imported");
                }
            });
        }
        else
        {
            alert("Select settings to import");
        }
    }

</script>
<h2>Export/Import Settings</h2>

<div>
    <input type="checkbox" class="chkTab" value="Schedules" /><label>Schedules</label>
    <br />
    <input type="checkbox" class="chkTab" value="Notifier" /><label>Notifier</label>
    <br />
    <input type="checkbox" class="chkTab" value="Audit" /><label>Audit</label>
    <br />
    @if (Model.Liscence != null && Model.Liscence.CanNormalize && (!Model.Liscence.IsLiscenceExpired))
    {
        if (Model.Liscence.ExpirationDate >= DateTime.Now)
        {
            <input type="checkbox" class="chkTab" value="Normalizer" /><label>Normalizer</label>
        }
    }
    <br />
    @if (Model.Liscence != null && Model.Liscence.CanLookup && (!Model.Liscence.IsLiscenceExpired))
    {
        if (Model.Liscence.ExpirationDate >= DateTime.Now)
        {
            <input type="checkbox" class="chkTab" value="Lookup" /><label>Lookup</label>
        }
    }
    <br />
    @if (Model.Liscence != null && Model.Liscence.CanMap && (!Model.Liscence.IsLiscenceExpired))
    {
        if (Model.Liscence.ExpirationDate >= DateTime.Now)
        {
            <input type="checkbox" class="chkTab" value="Mapping" /><label>Mapping</label>
        }
    }
    <br />
    <input type="checkbox" class="chkTab" value="InputSettings" /><label>InputSettings</label>
    <br />
    <input type="checkbox" class="chkTab" value="OutputSettings" /><label>OutputSettings</label>
    <br />
    <br />
    <input type="button" title="Export Settings" value="Export" onclick="Export();" />
    <input type="button" title="Import Settings" value="Import" onclick="Import();" />
</div>
@Html.Hidden("robotId", ViewData["robotId"])
@Html.Hidden("serverId", ViewData["serverId"])
@Html.Hidden("inputModuleId", ViewData["inputModuleId"])
@Html.Hidden("outputModuleId", ViewData["outputModuleId"])
