﻿@model IEnumerable<Paragon.RobotServices.Model.LogEntry>

@{
    ViewBag.Title = "Logging";
}

<div class="logForm">
<p class="logHeader">
    @* @using (Html.BeginForm("Logging", "Robot", new { id = ViewData["robotId"], serverId = ViewData["serverId"] }, FormMethod.Get))
    { *@
        <label for="critical">Messages to Include:</label>
        <input type="checkbox" name="critical" checked="checked"/>
        <label for="critical">critical</label>
        <input type="checkbox" name="error" checked="checked"/>
        <label for="error">error</label>
        <input type="checkbox" name="warning" checked="checked"/>
        <label for="warning">warning</label>
        <input type="checkbox" name="normal" checked="checked"/>
        <label for="normal">normal</label>
        <input type="checkbox" name="debug"/>
        <label for="debug">debug</label>
        @* @Html.DropDownList("severities", new List<SelectListItem> { 
                new SelectListItem() { Text = "Critical", Value = ParagonRCC_MVC3.Models.LogSeverity.Critical.ToString() }, 
                new SelectListItem() { Text = "Error", Value = ParagonRCC_MVC3.Models.LogSeverity.Error.ToString() }, 
                new SelectListItem() { Text = "Warning", Value = ParagonRCC_MVC3.Models.LogSeverity.Warning.ToString() }, 
                new SelectListItem() { Text = "Normal", Value = ParagonRCC_MVC3.Models.LogSeverity.Normal.ToString() }, 
                new SelectListItem() { Text = "Debug", Value = ParagonRCC_MVC3.Models.LogSeverity.Debug.ToString() }
            },
            new { multiple = "multiple" }) *@
        @Html.Label("ascending", "Sort Ascending:")
        <input type="checkbox" name="ascending" />
    @* } *@
    @Html.ActionLink("Reload", "Logging", new { id = ViewData["robotId"], serverId = ViewData["serverId"] }, new { @class = "reload" })
</p>

<table>
    <tr>
        <th>Id</th>
        <th>Severity</th>
        <th>EventDate</th>
        <th>Message</th>
    </tr>

@if (null != Model)
{
    foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td><td>@item.Severity</td><td>@item.EventDate.ToString("yyyy.MM.dd HH.mm.ss.ffffff")</td><td>@item.Message</td>
        </tr>
    }
}
</table>
<script type="text/javascript">
    resizeTabs();
</script></div>