﻿@* @model ParagonRCC_MVC3.Models.Login *@
@model Paragon.RobotServices.Model.Login

@{
    ViewBag.Title = "Login";
}

<div class="loginTabs">
<table class="loginTable">
    <thead>
        <tr>
            <th colspan="2"><span class="ui-icon ui-icon-plusthick login"></span></th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <th>Provider</th>
        <td>@Html.TextBox("provider", @Model.Provider)</td>
    </tr>
    <tr>
        <th>Server</th>
        <td>@Html.TextBox("server", @Model.Server)</td>
    </tr>
    <tr>
        <th>Database</th>
        <td>@Html.TextBox("database", @Model.Database)</td>
    </tr>
    <tr>
        <th>UserId</th>
        <td>@Html.TextBox("userid", @Model.UserId)</td>
    </tr>
    <tr>
        <th>Password</th>
        <td>@Html.Password("password", @Model.Password)</td>
    </tr>
    <tr><th><td></td></th></tr>
    </tbody>
</table>
</div>
