﻿@model IEnumerable<Paragon.RobotServices.Model.Mapping>

@{
    ViewBag.Title = "Mappings";
}

@{var formId = ViewData["category"] + "Form";}
@{
    int setting = 0;
    switch ((string)ViewData["category"]) {
        case "mapping":
            setting = -2;
            break;
        case "lookup":
            setting = -1;
            break;
        case "input":
            setting = 1;
            break;
        case "output":
            setting = 2;
            break;
    }
    var hrefBase = string.Format("S{0}-R{1}-S{2}", ViewData["serverId"], ViewData["robotId"], setting);
}
<div id="@formId" class="mapping @formId">
<div class="ui-helper-hidden updateHref">
    
</div>
<script type="text/javascript">
    $(function () {
        makeMappingTabs($(".mapping .mappingTabs:visible"));
    });
</script>
<div class="mappingTabs" style="word-wrap: break-word;">
    <ul>
    @foreach (var item in Model)
    {
        var href = "#" + hrefBase + "-" + item.Name.Replace(" ", "_");
        <li class="sortable" title="drag to sort"><a href="@href">
                <span>@item.Name</span></a>
            <span class="ui-icon ui-icon-trash" title="Delete"></span>
            <span class="ui-icon ui-icon-copy" title="Copy"></span>
        </li>
    }
        <li><a href="#newTab"><span class="ui-icon ui-icon-plusthick" title="Create"></span></a></li>
    </ul>
    @foreach (var item in Model)
    {
        var href = hrefBase + "-" + item.Name.Replace(" ", "_");
        <div id="@href" class="mapping">
            <div class="ui-helper-hidden">
                <span class="id">@item.Id</span>
                <span class="name">@item.Name</span>
            </div>
            @* @Html.Partial("Conditions", item.Conditions.OrderBy(c => c.Order))
            @Html.Partial("Transforms", item.Transforms.OrderBy(t => t.Order)) *@
            @Html.Partial("Conditions", item.Conditions)
            @Html.Partial("Transforms", item.Transforms)
        </div>
    }
</div>
</div>