﻿@* @model ParagonRCC_MVC3.Models.Normalization *@
@model Paragon.RobotServices.Model.NormalizerSettings

@{
    ViewBag.Title = "Normalization";
}

@helper CheckBox(string name, bool arg) {
    if (arg) {
        <input type="checkbox" name="@name" checked="checked" />
    }
    else {
        <input type="checkbox" name="@name" />
    }
}

<div class="normalizationForm">
<table>
<tr>
<th><span class="display-label">Name</span></th>
<th><span class="display-field">@Html.DisplayFor(m => m.Name)</span></th>
</tr>
<tr>
<td><span class="display-label">Standardize Images</span></td>
<td><span class="display-field">@CheckBox("Normalize", Model.Normalize)</span></td>
</tr>
<tr>
<td> <span class="display-label">Force TIF Extension</span></td>
<td> <span class="display-field">@CheckBox("ForceTifExtension", Model.ForceTifExtension) </span></td>
</tr>
<tr>
<td><span class="display-label">Tiff Compression</span></td>
<td><span class="display-field">@Html.DropDownList("TiffCompression") </span></td>
</tr>
<tr>
<td><span class="display-label">Strips</span></td>
<td><span class="display-field">@Html.DropDownList("Strips") </span></td>
</tr>
<tr>
<td><span class="display-label">Fill Order</span></td>
<td><span class="display-field">@Html.DropDownList("FillOrder") </span></td>
</tr>
<tr>
<td><span class="display-label">Match Resolutions</span></td>
<td><span class="display-field">@Html.DropDownList("MatchResolutions") </span></td>
</tr>
<tr>
<td><span class="display-label">Round Resolutions</span></td>
<td><span class="display-field">@Html.DropDownList("RoundResolutions") </span></td>
</tr>
<tr>
<td><span class="display-label">Rotate Image</span></td>
<td><span class="display-field">@Html.DropDownList("Rotate") </span></td>
</tr>
<tr>
<td><span class="display-label">Mirror Image</span></td>
<td><span class="display-field">@Html.DropDownList("Mirror") </span></td>
</tr>
<tr>
<td><span class="display-label">Reduce Colors</span></td>
<td><span class="display-field">@Html.DropDownList("ColorReduction") </span></td>
</tr>
</table>
</div>