﻿@* @model ParagonRCC_MVC3.Models.Notification *@
@model Paragon.RobotServices.Model.NotificationSettings

@{
    ViewBag.Title = "Notification";
}

@functions {
    public string CheckedAttribute(bool arg) {
        if (arg)
            return "checked=\"checked\"";
        else
            return "";
    }
}

<div class="notificationForm">

<table>
<caption>Event Notifications</caption>
<tr>
    <th></th>
    <th>Email</th>
</tr>
<tr>
    <td>Processing started</td>
    <td><input type="checkbox" name="notifyStartEmail" @CheckedAttribute(@Model.NotifyStartEmail) /></td>
</tr>
<tr>
    <td>Processing stopped normally</td>
    <td><input type="checkbox" name="notifyStopEmail" @CheckedAttribute(@Model.NotifyStopEmail) /></td>
</tr>
<tr>
    <td>Processing stopped due to error</td>
    <td><input type="checkbox" name="notifyErrorAbortEmail" @CheckedAttribute(@Model.NotifyErrorAbortEmail) /></td>
</tr>
<tr>
    <td>Processing stopped by user</td>
    <td><input type="checkbox" name="notifyUserAbortEmail" @CheckedAttribute(@Model.NotifyUserAbortEmail) /></td>
</tr>
<tr>
    <td>All error messages</td>
    <td><input type="checkbox" name="notifyAnyErrorEmail" @CheckedAttribute(@Model.NotifyAnyErrorEmail) /></td>
</tr>
<tr>

    <td>SMTP Server</td>
    <td> @Html.EditorFor(n => n.SmtpServer)</td>
</tr>
<tr>

    <td>SMTP Port</td>
    <td> @Html.EditorFor(n => n.SmtpPort)</td>
</tr>
<tr>
    <td>Addressees</td>
    <td> @Html.TextAreaFor(n => n.Recipients)</td> @*, new { @readonly = "readonly" })</td>*@
</tr>
<tr>
    <td>From</td>
    <td> @Html.TextBoxFor(n => n.From)</td> @*, new { @readonly = "readonly" })</td>*@
</tr>
</table>



</div>