﻿@model Paragon.RobotServices.Model.Schedule

@{
    ViewBag.Title = "Schedule";
}

@helper DurationOption(int value, string text, string duration)
    {
    if (duration == text)
    {
        <option selected="selected" value="@value">@text</option>
    }
    else
    {
        <option value="@value">@text</option>
    }
}

@helper CheckBox(string name, bool arg)
    {
    if (arg)
    {
        <input type="checkbox" name="@name" checked="checked" />
    }
    else
    {
        <input type="checkbox" name="@name" />
    }
}

<script type="text/javascript">

    $(document).ready(function () {
        $(".schedElementTable").find("td").each(function (index, value) {
            $(this).children(':input').each(
                function () {
                    if ($(this).attr('class') == 'datetimepicker') {
                        $(this).datetimepicker();
                    }
                });
        })
    })

</script>

<table class="schedElementTable" id="scheduleTable" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Blackout</th>
            <th>Start</th>
            <th>End</th>
            <th>Duration</th>
            @*<th>Frequency</th>*@
            <th><span class="ui-icon ui-icon-plusthick scheduleElement"></span></th>
        </tr>
    </thead>
    <tbody>
    @{
        foreach (var item in Model.Elements)
        {
            var startSchedule = "start" + @item.Name + @item.ScheduleElementId;
            var endSchedule = "end" + @item.Name + @item.ScheduleElementId;
            
            <tr>
                <td>@item.ScheduleElementId</td>
                <td>@Html.TextBox("name", item.Name)</td>
                <td>@CheckBox("isblackout", item.IsBlackout)</td>
                <td><input id="datetimepickerStart@(item.ScheduleElementId)" class="datetimepicker" size="15"  name="start" value="@item.Start"  type="text" /></td>
                <td><input id="datetimepickerEnd@(item.ScheduleElementId)" class="datetimepicker" size="15" name="end" value="@item.End" type="text" /></td>
                <td><select class="duration" name="duration">
                    @DurationOption(0, "None", item.Duration)
                    @DurationOption(1, "Daily", item.Duration)
                    @DurationOption(2, "Weekly", item.Duration)
                    @DurationOption(3, "Monthly", item.Duration)
                   </select>
                </td>
                @*<td>@Html.TextBox("frequency", item.Frequency)</td>*@
                <td><span class="ui-icon ui-icon-copy scheduleElement"></span>
                    <span class="ui-icon ui-icon-trash scheduleElement"></span>
                </td> 
            </tr>       
        }
    }
    </tbody>
</table>
