﻿@* @model IEnumerable<ParagonRCC_MVC3.Models.Schedule> *@
@model IEnumerable<Paragon.RobotServices.Model.Schedule> 

@{
    ViewBag.Title = "Scheduling";
}
@helper CheckBox(string name, bool arg) {
    if (arg) {
        <input type="checkbox" name="@name" checked="checked" />
    }
    else {
        <input type="checkbox" name="@name" />
    }
}

<div class="scheduleForm">
    <div id="scheduleHeader">
        <p>Schedules for Robot @ViewBag.robotName</p>
    </div>

    <table class="scheduleTable">
        @*<thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Entries</th>
                <th><span class="ui-icon ui-icon-plusthick schedule"></span></th>
            </tr>
        </thead>*@
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.Partial("Schedule", item)</td>
            </tr>
        }
        </tbody>
    </table>
</div>
