﻿@* @model ParagonRCC_MVC3.Models.Setting *@
@model Paragon.RobotServices.Model.ModuleSetting

@{
    ViewBag.Title = "Setting";
}

@helper Checkbox(string name, bool value) {
    if (value) 
    {
        <input type="checkbox" checked="checked" name="@name" />
    }
    else
    {
        <input type="checkbox" name="@name" />
    }
}

@{
    switch (Model.SettingTypeId)
    {
        case 1:
            @Checkbox(Model.Name, Model.Value.AsBool())
            break;
        case 2:
        case 3:
            <text> 
                @Html.TextBox(@Model.Name, @Model.Value)
            </text> 
            break;
        case 4:
            <text>
                @Html.TextArea(@Model.Name, @Model.Value)
            </text>
            break;
        case 5:
            <text>
                @Html.DropDownList(@Model.Name, new SelectList(@Model.Values, "Value", "Key", @Model.Value))
            </text>
            break;
        case 6:
            var dict = Model.Value.Split(";".ToCharArray())
                .ToDictionary(m => m.Split("=".ToCharArray())[0], m => m.Split("=".ToCharArray())[1]);
            <text>
                <table> 
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        <th><span class="ui-icon ui-icon-plusthick" title="Create"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var kvp in dict)
                    {
                        <tr>
                        <td><input type="text" name="name" value="@kvp.Key" /></td>
                        <td><input type="text" name="value" value="@kvp.Value" /></td>
                        <td>
                            <span class="ui-icon ui-icon-trash" title="Delete"></span>
                            <span class="ui-icon ui-icon-copy" title="Copy"></span>
                        </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </text>
            break;
        case 7:
            <div class="settingsMappings">
            @Html.Partial("Mappings", Paragon.RobotServices.Model.Mapping.FromXml(Model.Value))
            </div>
            break;
        case 8:
            @Html.Partial("Login", new Paragon.RobotServices.Model.Login(Model.Value))
            break;
        case 9:
            <text> 
                @Html.Password(@Model.Name, @Model.Value)
            </text> 
           break;
        default:
            <text>
                @Html.TextBox(@Model.Name, @Model.Value)
            </text>
            break;
}
}

