﻿@* @model IEnumerable<IGrouping<string, ParagonRCC_MVC3.Models.Setting>>*@
@model IEnumerable<IGrouping<string, Paragon.RobotServices.Model.ModuleSetting>>

@{
    ViewBag.Title = "Index";
}

@{ var formType = (ViewData["category"] == "input") ? "inputForm" : "outputForm"; }

<div class="@formType">
    <ul>
    @foreach (var item in Model)
    {
        var href = string.Format("#S{0}-R{1}-G{2}", ViewData["serverId"], ViewData["robotId"], item.Key.Replace(" ", "_"));
        <li><a href="@href"><span>@item.Key</span></a></li>
    }
    </ul>

    @foreach (var item in Model)
    {
        var href = string.Format("S{0}-R{1}-G{2}", ViewData["serverId"], ViewData["robotId"], item.Key.Replace(" ", "_"));
        <div class="settingGroup" id="@href">
            @Html.Partial("Group", item)
        </div>
    }
</div>
