﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/anytime.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.8.3.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/site.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/anytimetz.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/anytime.js")" type="text/javascript"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.ui.datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/DateTimePicker.js")"></script>

    @*<link type="text/css" href="@Url.Content("~/Content/themes/jquery.ui.datepicker.css")" rel="stylesheet" />  *@
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" />
</head>
<body>
    <div class="page">
        <header id="header">
            <img alt="Paragon Logo" src="../../Content/images/logoparagon.jpg" />
            <h1>Paragon Robot Control Console</h1>
        @*
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                Welcome <strong>@User.Identity.Name</strong>!
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>
        *@
        </header>
        <section id="main">
            <section id="tree">
                @RenderPage("~/Views/Shared/_TreeView.cshtml")
            </section>
            <section id="content">
                @RenderBody()
            </section>
        </section>
        <footer id="footer">
        <p>Copyright © 2012 Paragon Systems, Inc.  All rights reserved. (Supported on Internet Explorer 7.0 or later.)</p>
        </footer>
    </div>
    <div id="mappingTabTemplate" class="ui-helper-hidden mapping">
        <div class="ui-helper-hidden">
            <span class="id"></span>
            <span class="name"></span>
        </div>
        <div class="conditions">
            <div class="conditionsHeader">
                <span>Conditions</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Conditional</th>
                        <th>Value</th>
                        <th>Connector</th>
                        <th><span class="ui-icon ui-icon-plusthick" title="Create"></span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="transforms">
            <div class="transformsHeader">
                <span>Transforms</span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Value</th>
                        <th><span class="ui-icon ui-icon-plusthick" title="Create"></span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <table id="conditionRowTemplate" class="ui-helper-hidden">
        <tr>
            <td><span class="id"></span></td>
            <td>
                <span><input type="text" name="operand1" class="operand1"/></span>
                <span></span>
            </td>
            <td>
                <span><select name="conditional" class="conditional" >
                    <option value="1" selected="selected">Equals</option>
                    <option value="2">NotEquals</option>
                    <option value="3">IsBlank</option>
                    <option value="4">IsNotBlank</option>
                    <option value="5">StartsWith</option>
                    <option value="6">EndsWith</option>
                    <option value="7">GreaterThan</option>
                    <option value="8">GreaterThanOrEqual</option>
                    <option value="9">LessThan</option>
                    <option value="10">LessThanOrEqual</option>
                    <option value="11">Contains</option>
                    <option value="12">InList</option>
                    <option value="13">NotInList</option>
                    <option value="14">Like</option>
                    <option value="15">NotLike</option>
                 </select></span>
                <span></span>
            </td>
            <td>
                <span><input type="text" name="operand2" class="operand2" /></span>
                <span></span>
            </td>
            <td>
                <span><select name="connector" class="connector" >
                    <option value="1" selected="selected">And</option>
                    <option value="2">Or</option>
                 </select></span>
                <span></span>
            </td>
            <td>
            <span class="ui-icon ui-icon-copy"></span>
            <span class="ui-icon ui-icon-trash"></span>
            </td>
        </tr>
    </table>
    <table id="transformRowTemplate" class="ui-helper-hidden">
    <tr>
        <td><span class="id"></span></td>
        <td><input type="text" name="name" class="name" /></td>
        <td><input type="text" name="value" class="value" /></td>
        <td><span class="ui-icon ui-icon-copy"></span><span class="ui-icon ui-icon-trash"></span>
        </td>
    </tr>
    </table>
    <table id="scheduleTemplate" class="ui-helper-hidden">
    <tr>
        <td>0</td>
        <td><input type="text" name="name", value="New Schedule" /></td>
        <td>
            <table class="schedElementTable">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Blackout</th>
                        <th>Start</th>
                        <th>End</th>
                        <th>Duration</th>
                        @*<th>Frequency</th>*@
                        <th><span class="ui-icon ui-icon-plusthick scheduleElement"></span></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </td>
        <td><span class="ui-icon ui-icon-copy schedule"></span>
            <span class="ui-icon ui-icon-trash schedule"></span>
        </td>
    </tr>
    </table>
    <table id="schedElementTemplate" class="ui-helper-hidden">
    <tr>
        <td>0</td>
        <td><input type="text" name="name" /></td>
        <td><input type="checkbox" name="isblackout" /></td>
        <td><input  class="datetimepicker" size="15"  name="start" type="text" /></td>
        <td><input  class="datetimepicker" size="15" name="end" type="text" /></td>
        <td><select name="duration" class="duration" >
                <option value="0" selected="selected">None</option>
                <option value="1">Daily</option>
                <option value="2">Weekly</option>
                <option value="3">Monthly</option>
            </select>
        </td>
        @*<td><input type="text" name="frequency" /></td>*@
        <td><span class="ui-icon ui-icon-copy scheduleElement"></span>
            <span class="ui-icon ui-icon-trash scheduleElement"></span>
        </td>
    </tr>
    </table>
    @*sample adding section*@
    <table id="loginTemplate" class="ui-helper-hidden">
        <thead>
            <tr>
                <th colspan="2"><span class="ui-icon ui-icon-plusthick loginElement"></span></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <table id="loginElementTemplate" class="ui-helper-hidden">
        <tr>
        <th>Provider</th>
        <td><input type="text" name="provider" /></td>
        </tr>
        <tr>
        <th>Server</th>
        <td><input type="text" name="server" /></td>
        </tr>
        <tr>
        <th>Database</th>
        <td><input type="text" name="database" /></td>
        </tr>
        <tr>
        <th>UserId</th>
        <td><input type="text" name="userid" /></td>
        </tr>
        <tr>
        <th>Password</th>
        <td><input type="password" name="password" /></td>
    </tr>
    </table>
    @*sample adding section*@
    @*
    <div id="mappingCreateDialog" title="Create Mapping" class="mappingCreateDialog">
        <form action="#">
            <fieldset class="ui-helper-reset">
                <legend class="ui-helper-hidden">New Mapping Information</legend>
                <label for="name">New Mapping Name</label>
                <input type="text" name="name" value="" class="ui-widget-content ui-corner-all" />
                <input type="hidden" name="url" value="" class="ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
    <div id="mappingEditDialog" title="Change Mapping Name" class="mappingEditDialog">
        <form action="#">
            <fieldset class="ui-helper-reset">
                <legend class="ui-helper-hidden">Edit Mapping Information</legend>
                <label for="name">New Mapping Name</label>
                <input type="text" name="name" value="" class="ui-widget-content ui-corner-all" />
                <input type="hidden" name="url" value="" class="ui-widget-content ui-corner-all" />
                <input type="hidden" name="tabId" value="" class="ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
    <div id="mappingDeleteDialog" title="Delete Mapping" class="mappingDeleteDialog">
        <form action="#">
            <fieldset class="ui-helper-reset">
                <legend class="ui-helper-hidden">New Mapping Information</legend>
                <label for="name">Delete Mapping Named</label>
                <input type="text" name="name" value="" class="ui-widget-content ui-corner-all" readonly="readonly" />
                <input type="hidden" name="url" value="" class="ui-widget-content ui-corner-all" />
                <input type="hidden" name="tabId" value="" class="ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
    <div id="mappingCopyDialog" title="Copy Mapping" class="mappingCopyDialog">
        <form action="#">
            <fieldset class="ui-helper-reset">
                <legend class="ui-helper-hidden">Copy Mapping Information</legend>
                <label for="name">New Mapping Name</label>
                <input type="text" name="name" value="" class="ui-widget-content ui-corner-all" />
                <input type="hidden" name="url" value="" class="ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
    <div id="nvpAddDialog" title="Add Table Item" class="nvpAddDialog">
        <form action="#">
            <fieldset class="ui-helper-reset">
                <legend class="ui-helper-hidden">NVP Add Dialog</legend>
                <label for="name">Add To Table</label>
                <input type="text" name="name" value="" class="ui-widget-content ui-corner-all" />
                <input type="text" name="value" value="" class="ui-widget-content ui-corner-all" />
            </fieldset>
        </form>
    </div>
    *@

</body>
</html>
