﻿@using ParagonRCC_MVC3

@foreach (var s in ParagonRCC_MVC3.Models.Server.Servers)
{
    <div class="treeNodeSystem">
        <img alt="" class="treeSystemExpandImage" src="../../Content/images/tree/minus.gif" />
        @Html.ActionImage("~/Content/images/icon/WebServiceIcon.png", "Details", "Server", new { id = s.Id },
             s.Name + " : " + s.Host + ":" + s.Port, new { @class = "nodeLink" }, new { @class = "treeNodeIcon", alt = s.Name }, 
            new { @class = "treeNodeText" })
        <div class="nodeAdminRoot">
            @foreach (var r in s.Robots)
            {
            <div class="treeNode">
                <img class="treeExpandImage" alt="clear" src="../../Content/images/tree/clear9.gif" />
                <span class="treeLineVertical"></span>
                <span class="treeLineHorizontal"></span>
                @if (!object.ReferenceEquals(r, s.Robots[s.Robots.Count - 1]))
                {
                    <span class="treeLineVertToSibling"></span>
                }
                @{ string imgAlt = "";
                   string imgLoc = "";
                   switch (r.Status)
                   {
                       //case ParagonRCC_MVC3.Models.RobotStatus.Errors:
                       case "errors":
                           imgAlt = "PAS has encountered errors.  Please check the error logs.";
                           imgLoc = Url.Content("~/Content/images/icon/process_Errored.png");
                           break;
                       //case ParagonRCC_MVC3.Models.RobotStatus.Running:
                       case "running":
                           imgAlt = "PAS is running.";
                           imgLoc = Url.Content("~/Content/images/icon/process_Running.png");
                           break;
                       //case ParagonRCC_MVC3.Models.RobotStatus.Stopped:
                       case "stopped":
                           imgAlt = "PAS is stopped.";
                           imgLoc = Url.Content("~/Content/images/icon/process_Stopped.png");
                           break;
                       //case ParagonRCC_MVC3.Models.RobotStatus.Warnings:
                       case "warnings":
                           imgAlt = "PAS has encountered warnings.  Please check the error logs.";
                           imgLoc = Url.Content("~/Content/images/icon/process_warning.png");
                           break;
                   }
                }
                @Html.ActionImage(imgLoc, "Details", "Robot", new {id = r.Id, serverId = s.Id}, r.Name,
                    new {@class = "nodeLink"}, new { @class="treeNodeIcon", alt= imgAlt}, 
                    new {@class = "treeNodeText"})
            </div>
            }
        </div>
    </div>
}