﻿@model Paragon.RobotServices.Model.Condition

@{
    ViewBag.Title = "Condition";
}

@helper CondOption(int value, string text)
    {
    if (@Model.ConditionalId == value)
    {
        <option selected="selected" value="@value">@text</option>
    }
    else
    {
        <option value="@value">@text</option>
    }
}

@helper ConnOption(int value, string text)
    {
    if (@Model.ConnectorId == value)
    {
        <option selected="selected" value="@value">@text</option>
    }
    else
    {
        <option value="@value">@text</option>
    }
}

@*
<span class="container">
    <span>@Html.HiddenFor(c => c.Id)</span>
    <span>@Html.TextBoxFor(c => c.Operand1)</span>
    <span>@Html.ValidationMessageFor(c => c.Operand1)</span>
    <span>@Html.DropDownListFor(c => c.ConditionalId, (SelectList)ViewBag.Conditionals)</span>
    <span>@Html.ValidationMessageFor(c => c.ConditionalId)</span>
    <span>@Html.TextBoxFor(c => c.Operand2)</span>
    <span>@Html.ValidationMessageFor(c => c.Operand2)</span>
    <span>@Html.DropDownListFor(c => c.ConnectorId, (SelectList)ViewBag.Connectors)</span>
    <span>@Html.ValidationMessageFor(c => c.ConnectorId)</span>
</span>
*@
<tr>
    <td>
    <span class="id">@Model.ConditionId</span>
    </td>
    <td>
        <span>@Html.TextBoxFor(c => c.Operand1, new { @class = "operand1" })</span>
        <span>@Html.ValidationMessageFor(c => c.Operand1)</span>
    </td>
    <td>
        @*<span>@Html.DropDownListFor(c => c.ConditionalId, (SelectList)ViewBag.Conditionals, new { selected = @Model.ConditionalId})</span> *@
        <span><select class="conditional" name="conditional">
                @CondOption(1, "Equals")
                @CondOption(2, "NotEquals")
                @CondOption(3, "IsBlank")
                @CondOption(4, "IsNotBlank")
                @CondOption(5, "StartsWith")
                @CondOption(6, "EndsWith")
                @CondOption(7, "GreaterThan")
                @CondOption(8, "GreaterThanOrEqual")
                @CondOption(9, "LessThan")
                @CondOption(10, "LessThanOrEqual")
                @CondOption(11, "Contains")
                @CondOption(12, "InList")
                @CondOption(13, "NotInList")
                @CondOption(14, "Like")
                @CondOption(15, "NotLike")
                 </select></span>
        <span>@Html.ValidationMessageFor(c => c.ConditionalId)</span>
    </td>
    <td>
        <span>@Html.TextBoxFor(c => c.Operand2, new { @class = "operand2" })</span>
        <span>@Html.ValidationMessageFor(c => c.Operand2)</span>
    </td>
    <td>
        @*<span>@Html.DropDownListFor(c => c.ConnectorId, (SelectList)ViewBag.Connectors, new { selected = @Model.ConnectorId })</span> *@
        <span><select class="connector" name="connector">
                @ConnOption(1, "And")
                @ConnOption(2, "Or")
                 </select></span>
        <span>@Html.ValidationMessageFor(c => c.ConnectorId)</span>
    </td>
    <td title="drag to sort">
        <span class="ui-icon ui-icon-trash" title="Delete"></span>
        <span class="ui-icon ui-icon-copy" title="Copy" ></span>
    </td>
    @*<script type="text/javascript">
        $(function () {
            $("select[name='ConditionalId']").each(function () { $(this).val($(this)[0].attributes["selected"].value); });
            $("select[name='ConnectorId']").each(function () { $(this).val($(this)[0].attributes["selected"].value); });
            $("option").bind("click", function () { $(this).parent()[0].attributes["selected"].value = $(this)[0].attributes["value"].value });
        });
    </script>*@
</tr>