﻿@model ParagonRCC_MVC3.Models.Mapping

@{
    ViewBag.Title = "MappingView";
}

@using (Html.BeginForm("Mapping", "Robot", FormMethod.Post, new { }))
{
    <span class="display-label">Name</span>
    <span class="display-field">@Html.TextBox("name", @Model.Name)</span>
    @Html.Partial("~/Views/Shared/Conditions.cshtml", @Model.Conditions)
    @Html.Partial("~/Views/Shared/Transforms.cshtml", @Model.Transforms)
}