﻿@model ParagonRCC_MVC3.Models.MappingGroup

@{
    ViewBag.Title = "MappingGroupViewer";
}

<h2>MappingGroupViewer</h2>

<fieldset>
    <legend>@Model.Name</legend>
    @foreach (var item in Model.Mappings)
    {
        @Html.Partial("~/Views/Shared/MappingView.cshtml", item)
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
