﻿@model IEnumerable<ParagonRCC_MVC3.Models.Transform>

@{
    ViewBag.Title = "Transforms";
}

<ol title="Transforms">
    <li>
        <span class="ui-helper-hidden">Id</span>
        <span>Name</span>
        <span>Value</span>
    </li>
    @foreach (var item in Model)
    {
        <li>@Html.Partial("~/Views/Shared/Transform.cshtml", item)</li>
    }
</ol>