﻿@model Paragon.RobotServices.Model.Field

@{
    ViewBag.Title = "Transform";
}

@*
<span class="container">
Transform
<span>@Html.HiddenFor(t => t.Id)</span>
<span>Name:</span>
<span>@Html.TextBoxFor(t => t.Name)</span>
<span>Value:</span>
<span>@Html.TextBoxFor(t => t.Value)</span>
</span>
*@

<tr>
    <td>
        <span class="id">@Model.FieldId</span> @* @Model.Id</span> *@
    </td>
    <td>
        <span>@Html.TextBox("name", Model.Name, new {@class = "name"})</span>
        <span>@Html.ValidationMessageFor(t => t.Name)</span>
    </td>
    <td>
        <span>@Html.TextBox("name", Model.Value, new {@class = "value"})</span>
        <span>@Html.ValidationMessageFor(t => t.Value)</span>
    </td>
    <td title="drag to sort">
        <span class="ui-icon ui-icon-trash" title="Delete"></span>
        <span class="ui-icon ui-icon-copy" title="Copy"></span>
    </td>
</tr>
