﻿

/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    background-color: #9BC4E2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: none !important;
}

a:link span {
    text-decoration: none;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}
/*
p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}
*/

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

label {
    font-size: .85em;
}
headerLabel {
    font-size: .85em;
    font-weight: bold;
    color: #fff;
    border: none;   
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page 
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

header, #header 
{
    position: absolute;
    top: 0;
    width: 100%;
/*
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
*/
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

robotTitle {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 1.5em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}
#main 
{
    position: absolute;
    top: 21px;
    width: 100%;
    height: 90%;
    border: 1px black solid;
/*
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
*/
}

footer, 
#footer 
{
    position: absolute;
    bottom: 0;
    font-size: xx-small;
/*
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
*/
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 1px;
    border: solid 1px #e8eef4;
    font-size: .85em;
}

table th {
    padding: 6px 2px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
    font-size: .85em;
}

th span.ui-icon, td span.ui-icon
{
    display:inline-block;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: none;
}

#logindisplay a:visited {
    color: white;
    text-decoration: none;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

/* new */

.treeNodeIcon
{
    left: 0px;
    top: 2px;
    width: 16px;
    height: 16px;
    z-index:10;
    position: relative;
}

.moduleIcon
{
    left: 0px;
    top: 2px;
    width: 32px;
    height: 32px;
    z-index:10;
    position: relative;
}

.moduleIconActive
{
    left: 0px;
    top: 2px;
    width: 32px;
    height: 32px;
    z-index:10;
    position: relative;
    background-color:Orange;
}

.treeLineHorizontal
{
    border-top: graytext 1px solid;
    font-size: 2px;
    z-index: 5;
    left: -11px;
    width: 11px;
    position: absolute;
    top: 14px;
    height: 10px;
}

.treeLineVertical
{
    border-right: graytext 1px solid;
    font-size: 2px;
    z-index: 5;
    left: -21px;
    width: 10px;
    position: absolute;
    top: 0px;
    height: 15px;
}

.treeLineVertToSibling
{
    border-right: graytext 1px solid;
    font-size: 2px;
    z-index: 5;
    left: -21px;
    width: 10px;
    position: absolute;
    top: 14px;
    height: 15px;    
}

.treeNodeText
{
    padding-left: 4px;
    height: 1em;
}

#tree
{
	position: absolute;
	top: 0;
	left: 0;
	width: 19%;
	border-right: 1px solid black;
	overflow: scroll;
	background-color: #dddddd;
}

#content 
{
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	overflow: auto;
	background-color: White;
}

#tree div
{
    white-space: nowrap;
}

#robotForm div
{
    overflow: auto;
}

.nodeAdminRoot
{
    position: relative;
    left: 13px;
}

.nodeAdminRoot div
{
    position: relative;
}

#header img, header img
{
    float:left;
}

#header:after, header:after
{
    clear: both;
}

#content > div
{
    overflow: auto;
    height: 100%;
}

p 
{
    margin: 1px;
    font-size: 1em;
}


.ui-tabs-panel 
{
    overflow: auto;
    width:100%;
    height:70%;
    
}

.ui-tabs-active
{
    background-color: #666666;
    overflow: auto;
}

.logForm .display-label, .logForm .display-field
{
    float:left;
}

.logForm table
{
    clear:both;
}

.logForm .display-label 
{
    clear:both;
    float:left;
}

.logForm .display-field
{
    padding-left: 10px;
}

.notificationForm .display-label, .notificationForm .display-field
{
    float:left;
}

.notificationForm table
{
    clear:both;
    width: 80%;
}

.normalizationForm .display-label 
{
    clear:both;
    float:left;
}

.normalizationForm .display-field
{
    padding-left: 10px;
}

.notificationForm th
{
    text-align: center;
}

.notificationForm td
{
    width: 40%;
}

.notificationForm td:first-child
{
    text-align: right;
    width: 25%;
}

#mappingForm
{
    height: 388px; /* 100%; */
}

.mapping-content .transforms
{
    height: 50%;
}

.mapping-content .conditions
{
    height: 50%;
}

.mapping-content
{
    margin-left: 21%;
    height: 100%;
}

.mapping-tree
{
    height: 100%;
    width: 40%;
    float: left;
    overflow: auto;
}

.mapping-tree ul 
{
    list-style-type: none;
}


img 
{
    border: 0;
}

.mappingTabs
{
    width: 95%;
    height: 100%;
}


.mappingTabs .ui-tabs-nav 
{
    width: 32%;
    height: 100%;
}

.mappingTabs .ui-tabs-panel
{
    width: 65% !important;
    padding: 0 !important;
    height: 100%;
}

.mappingTabs .conditions, .mappingTabs .transforms
{
    height: 50%;
}


.conditions th:first-child, .transforms th:first-child, .conditions td:first-child, .transforms td:first-child
{
    display:none;
}

.mappingForm
{
    width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav 
{ 
    float: left; 
    overflow: auto;    
}

.ui-tabs-vertical .ui-tabs-panel 
{ 
    float: right; 
   overflow: auto;    
}
.ui-tabs-vertical .ui-tabs-nav li
{ 
    clear: left; 
    width: 100%; 
    border-bottom-width: 1px !important; 
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0; 
}
.ui-tabs-vertical .ui-tabs-nav li a
 {
      display:block;
 }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected
 {  
     padding-right: .1em; 
     border-right-width: 1px; 
     border-right-width: 1px; 
     
 }
.ui-tabs .ui-tabs-nav li span.ui-icon 
{ 
    float: right;
    font-size: 1em;
}

.ui-tabs .ui-tabs-nav li a
{
    padding: 1 !important;
    font-size: 1em;
}

.ui-tabs li.ui-tabs-selected a
{
    font-size: 1em;
    background-color:PaleGreen;
  
}
.robotTitle
{
    font-weight: bold;
    font-size: 2em;
}

.transforms table, .conditions table
{
    width: 100%;
}

.transforms table td:nth-child(2), .transforms table td:nth-child(3), .transforms table th:nth-child(2), .transforms table th:nth-child(3)
{
    width: 43%;
}

.conditions table td:nth-child(2), .conditions table td:nth-child(4), .conditions table th:nth-child(2), .conditions table th:nth-child(4)
{
    width: 32%;
}

.conditions table td:nth-child(3), .conditions table td:nth-child(5), .conditions table th:nth-child(3), .conditions table th:nth-child(5)
{
    width: 10%;
}

.logForm th:nth-child(1), .logForm th:nth-child(2)
{
    width: 5%;
}

.logForm th:nth-child(3)
{
    width: 30%;
}

.logForm th:nth-child(4)
{
    width: 60%;
}

td input, td select, td textarea
{
    width: 80%;
}

.auditForm .display-label, .notificationForm .display-field
{
    float:left;
}

.auditForm table
{
    clear:both;
    width: 60%;
}

.auditForm .display-label 
{
    clear:both;
    float:left;
}

.auditForm .display-field
{
    padding-left: 10px;
}

.auditForm th
{
    text-align: center;
}

.auditForm td
{
    width: 40%;
}

.auditForm td:first-child
{
    text-align: right;
    width: 40%;
}

.loginTabs .display-label, .notificationForm .display-field
{
    float:left;
}

.loginTabs table
{
    clear:both;
    width: 60%;
}

.loginTabs .display-label 
{
    clear:both;
    float:left;
}

.loginTabs .display-field
{
    padding-left: 10px;
}

.loginTabs th
{
    text-align: left;
     width: 20%;
}

.loginTabs td
{
    width: 40%;
}

.loginTabs td:first-child
{
    text-align: right;
    width: 40%;
}

.settingGroup .conditions th:first-child, .transforms th:first-child, .conditions td:first-child, .transforms td:first-child
{
    display:none;
    width: 100%;
}
.settingGroup .display-label, .notificationForm .display-field
{
    float:left;
}

.settingGroup table
{
    clear:both;
    width: 60%;
}

.settingGroup .display-label 
{
    clear:both;
    float:left;
}

.settingGroup .display-field
{
    padding-left: 10px;
}

.settingGroup th
{
    text-align: left;
     width: 20%;
}

.settingGroup td
{
    width: 40%;
}

.settingGroup td:first-child
{
    text-align: right;
    width: 40%;
}
.settingGroup .transforms table, .conditions table
{
    width: 100%;
}

.settingGroup .transforms table td:nth-child(2), .transforms table td:nth-child(3), .transforms table th:nth-child(2), .transforms table th:nth-child(3)
{
    width: 43%;
}

.settingGroup .conditions table td:nth-child(2), .conditions table td:nth-child(4), .conditions table th:nth-child(2), .conditions table th:nth-child(4)
{
    width: 32%;
}

.settingGroup .conditions table td:nth-child(3), .conditions table td:nth-child(5), .conditions table th:nth-child(3), .conditions table th:nth-child(5)
{
    width: 10%;
}

.serverForm .display-label, .notificationForm .display-field
{
    float:left;
}

.serverForm table
{
    clear:both;
    width: 60%;
}

.serverForm .display-label 
{
    clear:both;
    float:left;
}

.serverForm .display-field
{
    padding-left: 10px;
}

.serverForm th
{
    text-align: left;
     width: 20%;
}

.serverForm td
{
    width: 40%;
}

.serverForm td:first-child
{
    text-align: right;
    width: 40%;
}

.scheduleForm table
{
    clear:both;
    width: 60%;
}

.scheduleForm th
{
    text-align: center;
}

.robotList 
{ 
    clear: left; 
    width: 100%; 
    border-bottom-width: 1px !important; 
    border-right-width: 0 !important;
    margin: 0 -1px .2em 0;
    font-size: 1.25em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
}

.robotList table
{
width: 100%;
border: 1px solid #B0B0B0;
}
.robotList table {
/* Kind of irrelevant unless your .css is alreadt doing something else */
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
.robotList table {
text-align: left;
}
.robotList table thead th {
background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
border: 1px solid #B0B0B0;
color: #444;
font-size: 16px;
font-weight: bold;
padding: 3px 10px;
}
.robotList table td {
padding: 3px 10px;
}
.robotList table tr:nth-child(even) {
background: #F2F2F2;
}

.moduleList .display-label, .notificationForm .display-field
{
    float:left;
}

.moduleList .display-label 
{
    clear:both;
    float:left;
}

.moduleList .display-field
{
    padding-left: 10px;
}



.moduleList table
{
width: 100%;
border: 1px solid #B0B0B0;
}
.moduleList table {
/* Kind of irrelevant unless your .css is alreadt doing something else */
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
.moduleList table {
text-align: left;
}
.moduleList table thead th {
background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
border: 1px solid #B0B0B0;
color: #444;
font-size: 16px;
font-weight: bold;
padding: 3px 10px;
}
.moduleList table td {
padding: 3px 10px;
}
.moduleList table tr:nth-child(even) {
background: #F2F2F2;
}

.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.displayChart
{
    float:right;
}